form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.space{
    margin-top: 1em;
    height: 2em;
    border-radius: 0.5vh;
    border: 1px solid grey;
}

.pass{
    height: 2em;
    border-radius: 0.5vh;
    border: 1px solid grey;
}

.send{
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
}

p{
    position: relative;
    top: 1em;
    opacity: 80%;
}

.actions{
    width: 69%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red{
    color: red;
}